rdflib
https://github.com/philbarker/dctap-python/archive/refs/tags/1.0.0-alpha1-philb.zip
https://github.com/philbarker/APClasses/archive/refs/tags/v1.0-alpha.1.zip
https://github.com/philbarker/TAP2AP/archive/refs/tags/1.0.0-alpha.2.zip
https://github.com/philbarker/AP2SHACL/archive/refs/tags/v1.0.0-alpha.1.zip
